/*Goole Fontes*/
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500;600;700;800 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/*Some Variables */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #3cb815;
  --Light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
  overflow-x: hidden !important;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--green-color);
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: var(--green-color);
  border-radius: 5rem;
}

.bx-search {
  font-size: 24px;
  cursor: pointer;
}

.container_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.conatiner-login {
  padding: 20px;
  box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
  border-radius: 7px solid var(--green-color);
  border-radius: 0.5rem;
  gap: 2rem;
  width: 450px;
}
.conatiner-login h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green-color);
}

.conatiner-login:hover {
  transform: translateY(10px);
  transition: 0.2s;
}

.divInput {
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  width: 100%;
}


.Cadastrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin: 2px;
}
.Cadastrar li a {
  color: var(--orange-color);
  font-weight: 600;
}

.password-strength-icons i,
.show-password-button {
  display: none;
  margin-right: 5px;
  cursor: pointer;
}

/* .weak i.bxs-low-vision {
  color: red;
}

.medium i.bx-happy-heart-eyes {
  color: orange;
} */

/* .strong i.bx-happy-heart-eyes {
  color: green;
} */

.show-password-button {
  display: inline-block;
  font-size: 12px;
}

button {
  background-color: var(--green-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--orange-color);
}

.divInput input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--green-color);
  outline: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading span {
  color: var(--green-color);
}

.categoria {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}



.contante_laoder {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  z-index: 9000;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--green-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--light-orange-color);
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/* .categoria-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
} */

@media (max-width: 800px) {
  .conatiner-login {
    padding: 10px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 7px solid var(--green-color);
    border-radius: 0.5rem;
    gap: 00.9rem;
    width: 60%;
  }
}

@media (max-width: 700px) {
  .conatiner-login {
    padding: 10px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 7px solid var(--green-color);
    border-radius: 0.5rem;
    gap: 00.9rem;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .conatiner-login {
    padding: 10px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 7px solid var(--green-color);
    border-radius: 0.5rem;
    gap: 00.9rem;
    width: 98%;
  }
}
